/*
Auther: Kaden Reece Hazelton (PythonKing)
Date:
*/
:root {
    color-scheme: light dark;
    font-size: clamp(14px, 1.1vw + 0.5rem, 18px);
    --color-neutral-50: #fafafa;
    --color-neutral-100: #f5f5f5;
    --color-neutral-200: #e5e5e5;
    --color-neutral-300: #d4d4d4;
    --color-neutral-400: #a3a3a3;
    --color-neutral-500: #737373;
    --color-neutral-600: #525252;
    --color-neutral-700: #404040;
    --color-neutral-800: #262626;
    --color-neutral-900: #171717;
    --color-neutral-950: #0a0a0a;
    --logo-red: #ff3131;
    --logo-red-50: #ffe5e5;
    --logo-red-100: #ffcccc;
    --logo-red-200: #ff9999;
    --logo-red-300: #ff6666;
    --logo-red-400: #ff3333;
    --logo-red-500: #ff0000;
    --logo-red-600: #cc0000;
    --logo-red-700: #990000;
    --logo-red-800: #660000;
    --logo-red-900: #330000;
    --logo-red-950: #240000;
    --logo-blue: #00a7dd;
    --logo-blue-50: #e5f9ff;
    --logo-blue-100: #ccf2ff;
    --logo-blue-200: #99e6ff;
    --logo-blue-300: #66d9ff;
    --logo-blue-400: #33ccff;
    --logo-blue-500: #00bfff;
    --logo-blue-600: #0099cc;
    --logo-blue-700: #007399;
    --logo-blue-800: #004d66;
    --logo-blue-900: #002633;
    --logo-blue-950: #001b24;
    --color-black: var(--color-neutral-950);
    --color-white: #ffffff;
}
* {
    color: light-dark(black, white);
    background-color: light-dark(var(--logo-blue-400), var(--color-neutral-900));
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration:none;
    font-family: "Georama", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.banner {
    width: 100%;
    height: fit-content;
    text-align: center;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.10) 0 2px;
    padding: 0.5ch;
}
h1.banner {
    font-size: 2rem;
    background-color: light-dark(var(--logo-blue-300), var(--logo-red-600));
}
h2.banner {
    color: light-dark(var(--logo-blue), var(--logo-red));
    font-size: 1.5rem;
    background-color: light-dark(var(--color-neutral-600), var(--color-neutral-600));
}
h3.banner {
    color: light-dark(var(--logo-blue), var(--logo-red-500));
    font-size: 1.25rem;
    background-color: light-dark(var(--color-neutral-700), var(--color-neutral-700));
}
.clist {
    width:100%;
    height: fit-content;
    justify-items: center;
    >li {
        color: light-dark(var(--logo-red), var(--logo-blue));
        background-color: transparent;
        list-style: circle inside;
    }
}
.hero {
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 30rem;
    background: url("../hero.webp") repeat-x;
    background-size: auto 100%;
    will-change: background-position;
    animation: hero_bg_scroll 45s linear infinite;
}
@keyframes hero_bg_scroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -3238px 0;
    }
}
.overlay {
    padding: 1ch;
    margin: 2ch;
    background-color: light-dark(var(--logo-blue-300), var(--color-neutral-800));
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.07) 0 1px;
}
a.overlay {
    width: fit-content;
    height: fit-content;
    font-size: 1.2rem;
    position: absolute;
    top: 0.5rem;
    right: 1ch;
}
form.overlay {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 0.75ch groove light-dark(var(--logo-blue-200), var(--color-neutral-700));
    font-size: 1rem;
    * {
        background: transparent;
    }
    button {
        width: 12ch;
        background-color: light-dark(var(--logo-blue), var(--color-neutral-600));
        border: 0.33ch outset light-dark(var(--logo-blue-500), var(--color-neutral-900));
        font-size: 1.25rem;
    }
    button:active {
        background-color: light-dark(var(--logo-blue-700), var(--color-neutral-700));
        border: 0.33ch inset light-dark(var(--logo-blue-950), var(--color-neutral-950));
    }
    fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 0;
        * {
            margin: 0.2rem;
            padding: 0;
        }
    }
    label {
        font-size: 1.5rem;
    }
    legend {
        width: 100%;
        border-bottom: 0.2rem solid light-dark(var(--logo-blue), var(--logo-red));
        text-align: center;
        font-size: 2rem;
    }
    input,textarea {
        width: 100%;
        border: 0.5ch inset light-dark(var(--logo-blue-400), var(--color-neutral-900));
        background-color: light-dark(var(--logo-blue-600), var(--color-neutral-800));
        resize:none;
        font-size:1rem;
    }
}
a {
    color: light-dark(black, white);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 6rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.07) 0 1px;
    * {
        background-color: transparent;
    }
    h1 {
        margin-left: 1ch;
        margin-right: 1ch;
        font-size: 2.5rem;
    }
    h2 {
        width: 100%;
        position: absolute;
        bottom: 0;
        font-size: 1.5rem;
        text-align: center;
    }
    img {
        width:auto;
        height:6rem;
        margin: 1ch;
    }
}
main {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    >p {
        padding: 3ch;
        background-color: light-dark(var(--logo-blue), var(--color-neutral-700));
    }
}
footer {
    margin-top: 1rem;
    float: none;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0 1px;
}
small {
    background-color: transparent;
    font-size: smaller;
}
