{% extends "base.html" %}

{% block content %}
    <div class="hero">
        <form method="post" action="/contact" class="overlay">
            <fieldset>
                <legend>Contact Us</legend>
                <label for="fname">First Name</label>
                <input name="fname" type="text">
                <label for="lname">Last Name</label>
                <input name="lname" type="text">
                <label for="email">Email</label>
                <input name="email" type="email">
                <!-- Note: Make Phone Number Country Code Dropdown Selection Input!-->
                <label for="phone">Phone</label>
                <input name="phone" type="tel">
                <label for="message">How can we help you?</label>
                <textarea name="message"></textarea>
                <input type="text" name="bot_field" style="display:none;">
                <button type="submit">Send</button>
            </fieldset>
        </form>
        <a href="tel:+18324258114" class="overlay">Call Now</a>
    </div>
    <h1 class="banner">About Us</h2>
    <p>
        We are a family owned and operated Heating and Air Conditioning company based out of
        Comal County, Texas. We have been keeping Texans comfortable for over 30 years.
    </p>
    <h1 class="banner">Services</h2>
    <h2 class="banner">Residential</h3>
    <ul class="clist">
        <br>
        <li>Air Conditioning</li>
        <li>Full System Maintenance</li>
        <li>Heating</li>
        <li>Ventilation</li>
        <br>
    </ul>
    <h2 class="banner">Commercial</h3>
    <ul class="clist">
        <br>
        <li>Refrigeration</li>
        <li>Ice Machines</li>
        <br>
    </ul>
    <h2 class="banner">Service Areas</h2>
    <h3 class="banner">Counties</h3>
    <ul class="clist">
        <br>
        <li>Atascosa</li>
        <li>Bandera</li>
        <li>Bexar</li>
        <li>Blanco</li>
        <li>Comal</li>
        <li>Guadalupe</li>
        <li>Hays</li>
        <li>Kendall</li>
        <li>Meadina</li>
        <li>Wilson</li>
        <br>
    </ul>

{% endblock %}
