{% extends "base.html" %}

{% block content %}
    <div class="hero">
        <form method="post" action="/contact" class="overlay">
            <fieldset>
                <legend>Contact Us</legend>
                <label for="fname">First Name</label>
                <input name="fname" type="text">
                <label for="lname">Last Name</label>
                <input name="lname" type="text">
                <label for="email">Email</label>
                <input name="email" type="email">
                <label for="phone">Phone</label>
                <input name="phone" type="tel">
                <label for="message">How can we help you?</label>
                <textarea name="message"></textarea>
                <input type="text" name="bot_field" style="display:none;">
                <button type="submit">Send</button>
            </fieldset>
        </form>
        <a href="tel:+18324258114" class="overlay" style="position:absolute;top:0.5rem;right:1ch;">Call Now</a>
    </div>
    <h2>About Us</h2>
    <p>
        We are a family owned and operated Heating and Air Conditioning company based out of
        Comal County, Texas.
    </p><br>
    <h2>Services</h2>
    <h3>Residential</h3>
    <ol>

    </ol>
    <h3>Service Areas</h3>
    <p>
        We currently offer our services in the fallowing counties in Texas.
    </p>
    <ol>
        <li>Comal County</li>
        <li>Bexar County</li>
        <li>Blanco County</li>
        <li>Hays County</li>
        <li>Guadalupe County</li>
    </ol>

{% endblock %}
